Flask==2.3.2
fusion_solar_py[captcha]==0.1.1
gunicorn==20.1.0
requests==2.31.0
opencv-python-headless>=4.11.0.86
numpy>=2.0.0,<3.0.0
onnxruntime>=1.23.2
python-dotenv==1.0.0
setuptools>=65.0.0,<82.0.0
